body {
  font-family: Arial, sans-serif;
}

.card {
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.alert {
  border-radius: 5px;
}

.block-input {
  pointer-events: none; /* Disable interaction when there's a search result */
}

.btn {
  min-width: 120px; /* Ensures buttons have a minimum width */
}
