/* 
body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5); 
} */

/* Ensure the login card is centered and styled */
/* .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh; 
} */

/* .login-card {
    width: 100%;
    max-width: 400px; 
    background-color: white;
    border-radius: 10px;
    padding: 20px;
} */
