.app-container {
    display: flex;
    min-height: 100vh;
}

.content-wrapper {
    flex: 1;
    margin-left: 250px;
    transition: margin-left 0.3s ease;
    padding-top: 60px; /* To account for the fixed navbar */
}

.full-width {
    margin-left: 0;
}

.main-content {
    padding: 20px;
    background-color: #f1f1f1;
    min-height: calc(100vh - 60px); /* Adjust for the fixed navbar */
}
